*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo img{
    height: 64px;
}

.conteinar{
    display: flex;
    align-items: center;
    
}
.navbar a{
    text-decoration: none;
    margin: 10px;
    color: white;
}
.navbar{
     margin: auto;
     
}
.navbar a:hover{
    text-decoration: underline;
    color: black;
}
.btn1{
    background-color: #878787;
    border-radius: 7px;
    padding: 2px;
}
.btn1:hover{
    background-color: rgb(173, 145, 145);
    color: rgb(212, 211, 211);
    cursor: pointer;
}